@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-stu-green: #1B5E20;
    --color-stu-green-light: #2E7D32;
    --color-stu-green-dark: #0D3C11;
    --color-stu-red: #B71C1C;
    --color-stu-red-light: #D32F2F;
    --color-stu-white: #FFFFFF;
}
